.container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.phone {
    width: 240px;
    position: absolute;
    border-radius: 35px ;
    /* z-index: ; */
    z-index: 1;
}


@media (min-width:768px) and (max-width:991px) {
  .container{
    top: 10px;
  }
  .phone{
    display: none;
  }
}
