.arrow {
    position: absolute;
    width: 200px; /* Adjust size as needed */
    height: auto;
    background: none;
    z-index: 80;
}

@media (max-width:480px) {
    .arrow{
        display: none;
    }
}

@media (min-width:481px) and (max-width:767px){
    .arrow{
        display: none;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .arrow2{
        display: none;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .arrow2{
        width: 150px; /* Adjust size as needed */
        top: 45%;
    }
    
}